<div class="canvas-container">
	<div class="html-canvas" #htmlCanvas (click)="onClick($event)" (mousedown)="onMouseDown($event)"
		(mouseup)="onMouseUp()" (mousemove)="onMouseMove($event)" touchstart="onTouchStart($event)"
		touchmove="onTouchMove($event)" touchend="onTouchEnd($event)" (wheel)="onWheel($event)">
		<!-- <div #test class="test"></div> -->
	</div>
	<canvas #canvas></canvas>


	<div class="toolbar">
		<div class="zoom-controls">
			<button (click)="zoomIn()"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" stroke="currentColor"
					xmlns="http://www.w3.org/2000/svg">
					<path d="M8.00065 3.33334V12.6667M3.33398 8.00001H12.6673" stroke-width="1.33333"
						stroke-linecap="round" stroke-linejoin="round" />
				</svg>
			</button>
			<button (click)="zoomOut()"><svg width="16" height="16" viewBox="0 0 16 16" fill="none"
					stroke="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path d="M3.33398 8H12.6673" stroke-width="1.33333" stroke-linecap="round"
						stroke-linejoin="round" />
				</svg>
			</button>
			<button (click)="resetCamera()">
				<svg width="16" height="16" viewBox="0 0 16 16" fill="none" stroke="currentColor"
					xmlns="http://www.w3.org/2000/svg">
					<path
						d="M3 7.20268C3.15269 6.03777 3.72471 4.96845 4.60896 4.19487C5.49321 3.4213 6.62909 2.99651 7.80395 3.00002C8.97882 3.00353 10.1121 3.43511 10.9917 4.21396C11.8714 4.99281 12.437 6.06553 12.5827 7.23133C12.7284 8.39713 12.4443 9.57608 11.7834 10.5475C11.1226 11.5189 10.1304 12.2162 8.99254 12.5088C7.85469 12.8014 6.6492 12.6692 5.60174 12.1371C4.55428 11.605 3.73665 10.7094 3.3019 9.61792M3 12.637V9.61792H6.01905"
						stroke-linecap="round" stroke-linejoin="round" />
				</svg>

			</button>
		</div>
		<velt-comment-tool></velt-comment-tool>
	</div>
	<velt-comments area-comment="false" comment-pin-highlighter="false" #veltComments></velt-comments>
</div>